<div class="column">
  <div class="container">
    <p class="subtitle">About Me</p>

    <p>From a career standpoint, I’ve spent the first working in High-Performance Computing for research groups focused primarily on bioinformatics and physics. In 2015, I entered the private sector and have worked in both the AdTech and Transportation sectors.  I’ve worked on projects that span the entire stack: From front-end development, backend service development, systems programming, and data center design/buildouts.</p>

    <p>My latest move took me to Lyft where I began working with a newly formed Reliability Software Engineering team and then moved to an observability team where I was the technical driver for logging.  Through my time at lyft I've lead and participated in the migrations of 18 data platform services to Kubernetes, built Kubernetes controllers to manage the versioning, deployment, and draining for zero downtime deployments of heavily used analytical services, and built out components supporting the modification of the logging pipeline.</p>

    <p>Strangely enough, I’ve wound up in leadership positions in most of my jobs. It’s good or bad depending on how you look at it. Since the critical path of my career tends is focused on individuals and teams rather than hands-on at this point, I spent most of my free time in the futile struggle of keeping my skills from deteriorating too much.  Lately I've stepped away from leadership positions to focus on creating interesting systems and services.</p>

    <p>From a personal standpoint, I’m very much a lover of art, music, and animals (all animals, but I have to say that I gravitate to cats).  When I was younger, I thought I was going to be an artist but found out that it was more of a hobby than something I wanted to do full time. While inevitably debugging system and application issues at 3:00 AM, I often ponder whether or not I should have taken that road.</p>
  </div>
</div>
