/* html {
  background-color: #21130d;
} */

h1.title {
  color: #1e81b0;
}

p {
  /* color: #abdbe3; */
  margin-bottom: 1.5em;
}

p.subtitle {
  color: #e28743;
}

.logo {
  width: 30px;
  margin-right: 5px;
}
